{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^assets/(.*)$",
    "^components/(.*)$",
    "^consts/(.*)$",
    "^contexts/(.*)$",
    "^hooks/(.*)$",
    "^pages/(.*)$",
    "^types/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
