@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MuseoSansRounded;
  src: url("/fonts/MuseoSansRounded100.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url("/fonts/MuseoSansRounded300.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url("/fonts/MuseoSansRounded500.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url("/fonts/MuseoSansRounded700.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url("/fonts/MuseoSansRounded900.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url("/fonts/MuseoSansRounded1000.otf") format("opentype");
  font-weight: 1000;
}

html {
  scroll-behavior: smooth;
}
